/node_modules
/public/build
/public/hot
/public/storage
/public/upload
/public/img
/public/admincssjs/img
/public/admincssjs/fonts
/public/vendor/laravel-filemanager/img
/public/vendor/laravel-filemanager/images
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
